@model IEnumerable<NTXSolution.MVC.ViewModels.LivroViewModel>

@{
    ViewBag.Title = "ConsultaPorNome";
}

<h2>ConsultaPorNome</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditoraId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idioma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditoraId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LivroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LivroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LivroId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>